<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./templates/head"); %>
</head>

<body>
    <form method="POST">
        <div>Formularz dodawania produktów:</div>
        <div>Dodaj zdjecie <input type="file" name="img" /></div>
        <div>Nazwa produktu <input type="text" name="name"></div>
        <div>Cena <input type="text" name="price"></div>
        <div><button> Dodaj produkt </button></div>
    </form>
</body>

</html>