<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WITAMY</title>
</head>

<body>
    <form method="POST" action="/products/new" enctype="multipart/form-data">
        <div>Formularz dodawania produktów:</div>
        <div>Dodaj zdjecie <input type="file" name="productImage" /></div>
        <div>Nazwa produktu <input type="text" name="name" value=<%= productName %>></div>
        <div>Cena <input type="text" name="price"></div>
        <div>Opis <input type="text" name="description"></div>
        <div><button> Dodaj produkt </button></div>
    </form>
</body>

</html>