<%- include('templates/head') %>
    <%- include('templates/nav', {url: url, cart_item_count}) %>

        <body>
            <div class="body-wrap">
                <h2 class="title"> Panel administracyjny </h2>
                <div class=" admin-buttons">
                    <form action="/account">
                        <button class="logout-btn"> Widok konta </button>
                    </form>
                    <form method="POST">
                        <button class="logout-btn"> Wyloguj </button>
                    </form>
                </div>
                <div class="account-container">
                    <h2> Zamówienia: </h2>

                </div>
                <div class="account-container">
                    <h2> Użytkownicy: </h2>

                </div>
        </body>

        </html>