<%- include('templates/head') %>
    <%- include('templates/nav', {url: url, cart_item_count}) %>

        <body>
            <div class="body-wrap">
                <h2 class="title"> Panel administracyjny </h2>
                <h2 class="title"> Twoje zamówienia: </h2>
        </body>

        </html>