<!-- checkout.ejs -->
<%- include('templates/head', {page_title: 'Dane adresowe' }) %>
    <%- include('templates/nav', {url: url, cart_item_count}) %>

        <body>

            <div class="body-wrap">
                <h2 class="title"> Dane adresowe </h2>
                <div class="checkout-container">
                    <form method="POST">
                        <div class="checkout-row">
                            <label for="given-name">Imię:<span class="red">*</span></label>
                            <input type="text" id="given-name" name="given-name" required>
                        </div>
                        <div class="checkout-row">
                            <label for="family-name">Nazwisko:<span class="red">*</span></label>
                            <input type="text" id="family-name" name="family-name" required>
                        </div>
                        <div class="checkout-row">
                            <label for="address-level1">Adres:<span class="red">*</span></label>
                            <input type="text" id="ddress-line1" name="ddress-line1" required>
                        </div>
                        <div class="checkout-row">
                            <label for="address-line2">Nr mieszkania:<span class="red">*</span></label>
                            <input type="text" id="address-line2" name="address-line2" required>
                        </div>
                        <div class="checkout-row">
                            <label for="city">Miasto:<span class="red">*</span></label>
                            <input type="text" id="city" name="city" required>
                        </div>
                        <div class="checkout-row">
                            <label for="postal-code">Kod pocztowy:<span class="red">*</span></label>
                            <input type="text" id="postal-code" name="postal-code" required>
                        </div>
                        <div class="checkout-row">
                            <label for="email">Email:<span class="red">*</span></label>
                            <input type="text" id="postal-code" name="email" required>
                        </div>
                        <div class="checkout-row">
                            <label for="phone">Nr telefonu:<span class="red">*</span></label>
                            <input type="text" id="phone" name="phone" required>
                        </div>
                        <div class="checkout-checkbox">
                            <input type="checkbox" id="terms" name="terms" required>
                            <div class="checkout-ckeckbox-label">
                                <label for="terms">Przeczytał_m i akceptuję regulamin<span class="red">*</span></label>
                            </div>

                        </div>
                        <div class="checkout-checkbox">
                            <input type="checkbox" id="terms2" name="terms2" required>
                            <div class="checkout-ckeckbox-label">
                                <label for="terms2">Wyrażam zgodę na przetwarzanie moich danych osobowych w celu
                                    rejestracji
                                    konta i realizacji zamówienia<span class="red">*</span></label>
                            </div>

                        </div>
                        <div class="checkout-row">
                            <span class="red">*</span> - wymagane
                        </div>
                        <% if ( locals.message ) { %>
                            <div class='incorrect-login-message'>
                                <%= locals.message %>
                            </div>
                            <% } %>
                                <div><button>Zamawiam i płacę > </button></div>
                    </form>
                </div>
            </div>
        </body>

        </html>