<!-- error.ejs -->
<%- include('templates/head') %>

    <body>
        <h1 class="title">
            <%= title %>
        </h1>
        <div class="error-message">
            <p>
                <%= message %>
            </p>
        </div>
    </body>

    </html>