<!-- error.ejs -->
<%- include('templates/head', {page_title: 'Błąd' }) %>

    <body>
        <div class="body-wrap">
            <h1 class="title">
                <%= title %>
            </h1>
            <div class="error-message">
                <p>
                    <%= message %>
                </p>
            </div>
        </div>
    </body>

    </html>