<%- include('templates/head') %>
    <%- include('templates/nav') %>

        <body>
            <h1 class="title">
                Zalogowano pomyślnie.
            </h1>
            <div>
                <form method="POST">
                    <button class="login-btn">Wyloguj</button>
                </form>
            </div>
        </body>

        </html>