<!-- login.ejs -->
<%- include('templates/head') %>
    <%- include('templates/nav', {url: url, cart_item_count}) %>

        <body>
            <div class="login-wrap">
                <form method="POST">
                    <div id='login'>
                        <div class="form-field">
                            <input class="form-input" type='text' name='txtUser' placeholder="Nazwa użytkownika" />
                        </div>
                        <div class="form-field">
                            <input class="form-input" type='password' name='txtPwd' placeholder="Hasło" />
                        </div>
                        <div>
                            <button class="login-btn">Zaloguj się</button>
                        </div>
                        <% if ( locals.message ) { %>
                            <div class='incorrect-login-message'>
                                <%= locals.message %>
                            </div>
                            <% } %>
                    </div>
                </form>
                <form action="/createAccount">
                    <div id='createAccount'>
                        <div>
                            <button class="login-btn">Stwórz konto</button>
                        </div>
                    </div>
                </form>
            </div>
        </body>

        </html>