@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");

body {
    padding: 0;
    margin: 0;
    font-family: IBM Plex Mono, monospace;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1em;
    --main-color: #0084ff;
}

input {
    font-family: IBM Plex Mono, monospace;
}
h2,
h1 {
    font-weight: 400;
}

a {
    color: #000000;
    text-decoration: none;
}

button {
    font-family: IBM Plex Mono, monospace;
    font-weight: 400;
    letter-spacing: 0.1em;
    /*text-transform: uppercase;*/
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #000;
    /*
    padding: 0.5em 2em;
    margin-top: 15px;
    line-height: 1.5;
    
    color: #fff;
    background-color: #000;
    */
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

button:hover {
    border: 1px solid var(--main-color);
}

input:focus,
button:focus {
    outline: 0;
    border: 1px solid var(--main-color);
}

:required {
    border: 1px solid #000;
}

li {
    list-style-type: none;
}

/* common */

.title {
    margin: 20 0 0 0;
    text-align: center;
}

.body-wrap {
    margin: auto;
    max-width: 800px;
    margin: 60px auto 100px;
}

/* nav */

.navbar {
    height: 80px;
    margin: 0 20px;
    display: flex;
    flex-grow: 2 1;
}

.nav-toggle {
    display: none;
}

.nav-mid {
    display: flex;
    flex: 3 1 auto;
}

.nav-left {
    flex: 1 1 auto;
}
.nav-right {
    display: flex;
    flex-direction: row-reverse;
    flex: 1 1 auto;
}

.nav-element {
    margin: 0 20px;
}

.nav-h {
    padding: 5px 10px;
}

#active.nav-h {
    border: 1px solid #000;
}

.nav-element a:hover {
    text-align: center;
    color: var(--main-color);
    text-decoration: none;
}

/* index */

.container {
    display: grid;
    width: 100%;

    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product {
    margin: auto;
}
.product-image {
    background-color: #e5e5e5;
    display: block;
    height: 200px;
    width: 250px;
}

.product-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product-name {
    font-size: 14px;
    margin: 20px 0 0 0;
    line-height: 18px;
}

.product-price {
    font-weight: bold;
    font-size: 14px;
}

.cart-btn {
    margin-top: 0;
    line-height: 1.5;
    font-size: 14px;
}

/* search */
.search-bar-container {
    max-width: 900px;
    margin: auto;
}

.search-bar {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    height: 50px;
    padding: 20px;
    font-size: 18x;
}

.search-bar input {
    font-size: 18x;
    flex: 6 1 auto;
    padding-bottom: 9px;
    line-height: 1.5em;
    color: #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000;
    font-size: 16px;
}

.search-bar input:focus {
    outline: 0 !important;
}
.search-bar button {
    font-size: 16px;
    padding: 7px;
    margin-left: 15px;
}

/* login */

.login-wrap {
    text-align: center;
    padding: 1em 2em;
    margin: 30px auto 100px;
    max-width: 400px;
}

.login-wrap form {
    width: 100%;
}

.login container {
    width: 100%;
}
.login-form-input {
    font-family: IBM Plex Mono, monospace;
    letter-spacing: 0.1em;

    height: 30px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5em;
    color: #000000;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #000;
}
.login-form-input input {
    margin: auto;
}

.incorrect-login-message {
    display: inline-block;
    font-weight: 400;
    margin-top: 15px;
    padding-inline: 5px;
    color: #830b0b;
    background-color: #fce2e2;
}

.login-btn {
    font-size: 14px;
    padding: 0.5em 2em;
    margin-top: 15px;
    line-height: 1.5;
}

/* product view */

.productview-wrap {
    display: flex;
}

.product-cart-btn {
    padding: 10px 20px;
}

.productview-image {
    flex: 1 1 auto;
    margin: 20px 50px 20px 100px;
    background-color: #e5e5e5;
    display: block;
    height: 700px;
    width: 250px;
}

.productview-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.productview-info {
    flex: 1 1 auto;
    margin: 20px 50px;
}

.productview-name {
    margin: 0 0 10px;
}

.productview-price {
    margin: 0 0 10px;
    padding: 10px 0;
    font-weight: bold;
}

.productview-desc {
    font-size: 16px;
    padding-top: 30px;
}

/* cart */
.cart-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
}

.cart-item {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #000;
}

.cart-image {
    flex: 1 1 auto;
    margin: 10px 20px 10px 0;
    background-color: #e5e5e5;
    display: block;
    height: 200px;
    width: 250px;
}

.cart-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cart-info {
    flex: 3 1 auto;
    display: block;
    width: 250px;
    position: relative;
    padding-top: 10px;
}

.cart-info h2 {
    margin-top: 10px;
}

.cart-remove {
    position: absolute;
    bottom: 10px;
}

.cart-remove button {
    padding: 5px 10px;
}

.cart-quantity {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
}
/* cart checkout */

.cart-summary {
    margin: 20px auto 100px;
    align-self: flex-end;
    display: flex;
    width: 100%;
}
.cart-total {
    display: flex;
    flex: 1 1 auto;
}

.cart-total p {
    margin: 21px 15px;
    padding: 0;
}

.cart-total h2 {
    font-weight: bold;
    margin: 15px;
    padding: 0;
}

.cart-summary form {
    flex: 1 1 auto;
    width: 70%;
}

.checkout-btn {
    margin: 0;
    padding: 10px 0;
    display: block;
    width: 100%;
    font-size: 18px;
}

/* checkout */

.checkout-container {
    margin: auto;
    max-width: 500px;
}

.checkout-row {
    display: inline-block;
    width: 100%;
    margin: 10px 5px;
}

.checkout-checkbox {
    display: flex;
    width: 100%;
    margin: 10px 5px;
}

.checkout-checkbox input[type="checkbox"] {
    display: inline-block;
    border: 1px solid #000;
    margin: 0 40px;
}

.checkout-row label {
    margin-top: 5px;
    padding: 15px;
}

.checkout-row input:invalid {
    border-color: #ff0000;
}

.checkout-checkbox-label {
    display: inline-block;
}

.checkout-row input {
    float: right;
    padding: 5px 0;
    width: 60%;
}
.checkout-row label {
    margin-top: 5px;
    padding: 15px;
}

.checkout-container button {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    padding: 15px;
}

/* add-product */
.add-title {
    margin-bottom: 40px;
}
.add-container {
    margin: 0 50px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.add-input {
    flex: 1 1 auto;
    margin: 10px;
    display: inline-block;
    width: 100%;
}

.add-input input {
    width: 60%;
    font-size: 16px;
    padding: 5px;
    float: right;
}

.add-input input[type="file"]::file-selector-button {
    font-family: IBM Plex Mono, monospace;
    font-weight: 400;
    letter-spacing: 0.1em;
    /*text-transform: uppercase;*/
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #000;
    padding: 5px 10px;

    /*
    padding: 0.5em 2em;
    margin-top: 15px;
    line-height: 1.5;
    
    color: #fff;
    background-color: #000;
    */
    background-color: #fff;
    color: #000;
}

.add-input input[type="file"]::file-selector-button:hover {
    border: 1px solid var(--main-color);
}

.add-input-desc {
    flex: 1 1 auto;
    display: inline-block;
    margin: 10px;
    width: 100%;
}

.add-input-desc input {
    width: 60%;
    font-size: 16px;
    padding: 5px;
    float: right;
}

.add-input button {
    margin-top: 40px;
    padding: 10px;
    font-size: 16px;
}

/* account */

.logout-btn {
    width: 100%;
}
.account-container {
    margin: 30px 0;
}
.account-container h2 {
    margin: 0;
    width: 100%;
}

.order {
    width: 100%;
    display: flex;
    margin: 20px 0;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.order-id {
    display: block;
}
.order-products {
    display: block;
    margin: 0 20px;
}
.order-total {
    font-weight: bold;
}
.order-product {
    display: flex;
}

.order-product p {
    margin: 0 10px;
}

/* admin */

.admin-buttons {
    display: flex;
}
.admin-buttons form {
    flex: 1 1 auto;
    margin: 0 20px;
}

/* error */

.error-message p {
    text-align: center;
    margin: 2 em;
    padding: 2 em;
}

@media screen and (max-width: 900px) {
    /* max-width: 900 */
    .search-bar-container {
        margin: 0 40px;
    }

    .productview-wrap {
        flex-direction: column;
        margin: 20px;
    }

    .productview-image {
        margin: auto;
        width: 100%;
        height: fit-content;
    }

    .cart-container {
        margin: auto 20px;
    }

    .cart-image {
        flex: 2 1 auto;
        margin: 10px 20px 10px 0;
        height: 100px;
        background: transparent;
    }

    .cart-image > img {
        width: 125px;
    }

    .cart-info {
        margin-left: 0;
        margin-top: 10px;
        font-size: 16px;
    }

    .cart-info h2 {
        margin-top: 10px;
        font-size: 16px;
    }

    .cart-remove button {
        font-size: 14px;
    }

    .cart-quantity {
        margin: 0;
        font-size: 14px;
    }
    /* cart checkout */

    .cart-summary {
        flex-direction: column;
    }
    .cart-total {
        margin: auto;
    }

    .cart-total p {
        margin: 21px 15px;
        padding: 0;
    }

    .cart-summary form {
        flex: 1 1 auto;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    /* max-width: 800 */
    .body-wrap {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* smartphones */
    .navbar {
        margin: 20px 20px 100px;
        flex-direction: column;
    }

    .nav-mid,
    .nav-right {
        flex-direction: column;
        display: block;
        margin: 0;
    }

    .nav-element {
        margin: 0 5px;
    }
    .nav-h {
        font-size: 16px;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0 20px;
        display: grid;
        grid-template-columns: none;
    }

    .product {
        width: 100%;
        margin: auto;
        align-content: center;
    }

    /* checkout */
    .checkout-row,
    .checkout-checkbox {
        display: flex;
        flex-direction: column;
    }

    .checkout-row input,
    .checkout-checkbox input {
        width: 90%;
        padding: 10px;
    }

    .checkout-checkbox input[type="checkbox"] {
        border: 1px solid #000;
        margin: 10px 0;
    }
}
